@model MVCDemo.Models.Person
@{
    ViewBag.Title = "Register";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@if (Model == null)
{
    <p>Person not found.</p>
}
else
{
    <form action="/People/SaveUserInformation" method="post">
        <div class="register container">
            <div class="row">
                <div class="bsc-info col-lg-4">
                    <h2>Basic info</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Title: </label>
                            <select id="selectBox" onchange="myChanges(value);" name="title">
                                <option value="None">-None-</option>
                                <option value="Mr">Mr.</option>
                                <option value="Mrs">Mrs.</option>
                                <option value="Ms">Ms.</option>
                            </select>
                        </div>

                        <div class="table-row">
                            <label>First name: </label>
                            <input type="text" name="firstName"/>
                        </div>

                        <div class="table-row">
                            <label>Last name: </label>
                            <input type="text" name="lastName"/><br>
                        </div>

                        <div class="table-row">
                            <label>Birthday: </label>
                            <input type="date" name="birthday"/>
                        </div>
                    </div>
                </div>

                <div class="contact-inf col-lg-4">
                    <h2>Contact info</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Email: </label>
                            <input type="email" name="emailAddress" />
                        </div>
                        <div class="table-row">
                            <label>Fax: </label>
                            <input type="text" name="fax" />
                        </div>
                        <div class="table-row">
                            <label>Website: </label>
                            <input type="text" name="website" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="address col-lg-4">
                    <h2>Address</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Country: </label>
                            <input type="text" name="country" />
                        </div>
                        <div class="table-row">
                            <label>County: </label>
                            <input type="text" name="county" />
                        </div>
                        <div class="table-row">
                            <label>City: </label>
                            <input type="text" name="city" />
                        </div>
                        <div class="table-row">
                            <label>Street: </label>
                            <input type="text" name="street" />
                        </div>
                        <div class="table-row">
                            <label>Number: </label>
                            <input type="text" name="number" />
                        </div>
                        <div class="table-row">
                            <label>I'm living in a flat </label>
                            <input type="checkbox" id="if-checked" name="isFlat"/>
                        </div>
                        <div class="table-row flat">
                            <label>Entrance: </label>
                            <input type="text" name="entrance"/>
                        </div>
                        <div class="table-row flat">
                            <label>Flat number: </label>
                            <input type="text" name="flatNumber"/>
                        </div>
                    </div>
                </div>
                <div class="prof-info col-lg-8">
                    <h2>Professional Info</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Last degree earned: </label>
                            <input type="text" name="degree"/>
                        </div>
                        <div class="table-row">
                            <label>Years of experience: </label>
                            <input type="number" name="yearsOfExperience"/>
                        </div>
                        <div class="table-row">
                            <label>Expected salary: </label>
                            <p>
                                <label for="amount">Price range:</label>
                                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" name="expectedSalary"/>
                            </p>
                            <div id="slider-range"></div>
                        </div>
                        <div class="table-row">
                            <label>Current salary: </label>
                            <input type="number" name="currentSalary"/>
                        </div>
                        <div class="table-row">
                            <label>Current job title: </label>
                            <input type="text" name="jobTitle"/>
                        </div>
                        <div class="table-row">
                            <label>Skills:</label>
                            <input type="text" placeholder="To be added">
                        </div>
                    </div>
                </div>
                <div class="others col-lg-5">
                    <h2>Others</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Upload photo: </label>
                            <input type="file" name="photo">
                        </div>
                        <div class="table-row">
                            <label>Upload CV: </label>
                            <input type="file" name="cv">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Save" />
    </form>
}
<script>
    function myChanges($i)
    {
        if ($i != "None")
        {
            for (var i = 0; i < $(".bsc-info option").length; i++)
            {
                if ($($(".bsc-info option")[i]).val() == "None")
                {
                    $($(".bsc-info option")[i]).hide();
                    break;
                }
            }
        }
    }
</script>

<!--Slider-->
<script>
  $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0, //value to be taken -> not hardcoded
      max: 500,//value to be taken -> not hardcoded
      values: [0, 500], //min and max
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  });
</script>

<script>
    $(function () {
        var isOpen = false;
        $(".flat").hide();
        //flat toggle
        $("#if-checked").click(function () {
            if (!isOpen) {
                $(".flat").show();
                isOpen = !isOpen;
            }
            else {
                $(".flat").hide();
                isOpen = !isOpen;
            }
        });
    });
</script>