body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #666;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
labels{
	text-align:right;
	padding-top:10px;
	padding-bottom:10px;
    display:block;
}
h2{
	color:grey;
}
table{
	padding-left:20px;
}
h1 {
		text-align: center;
		margin-bottom: 0;
		margin-top: 60px;
}

#lean_overlay {
		position: fixed;
		z-index: 100;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background: #000;
		display: none;
}

.popupContainer {
		position: absolute;
		width: 330px;
		height: auto;
		left: 45%;
		top: 60px;
		background: #FFF;
}

.main-page-buttons {
        float:right;
        margin-top: 13px;
}

.main-page-button {
        margin-right:10px;
		display: inline-block;
		border: 1px solid #DDD;
		border-radius: 4px;
}

.btn {
		padding: 10px 20px;
		background: #F4F4F2;
}

.btn_red {
		background: #ED6347;
		color: #FFF;
}

.btn:hover {
		background: #E4E4E2;
}

.btn_red:hover {
		background: #C12B05;
}

a.btn {
		color: #666;
		text-align: center;
		text-decoration: none;
}

a.btn_red {
		color: #FFF;
}

.one_half {
		width: 50%;
		display: block;
		float: left;
}

.one_half.last {
		width: 50%;
}

.one_half.last button{
		float:right;
}
/* Popup Styles*/

#lean_overlay{
    z-index:9999;
}
.header_title{
    display:inline-block;
    width: 49%;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

.header_title.active {
    background-color: #d0d0d0;
}

.content-wrapper.active{
    display:block;
}

#tabs {
    max-width: calc(100% - 40px);
}

.popupHeader {
        font-size: 16px;
		text-transform: uppercase;
		background: #F4F4F2;
		position: relative;
		border-bottom: 1px solid #DDD;
		font-weight: bold;
}

.popupHeader .modal_close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px 15px;
		background: #ED6347;
		cursor: pointer;
		color: #fff;
		font-size: 16px;
}

.popupBody {
		padding: 20px;
}
/* Social Login Form */

.social_login .social_box {
		display: block;
		clear: both;
		padding: 10px;
		margin-bottom: 10px;
		background: #F4F4F2;
		overflow: hidden;
}

.social_login .icon {
		display: block;
		width: 10px;
		padding: 5px 10px;
		margin-right: 10px;
		float: left;
		color: #FFF;
		font-size: 16px;
		text-align: center;
}

.social_login .fb .icon {
		background: #3B5998;
}

.social_login .google .icon {
		background: #DD4B39;
}

.social_login .icon_title {
		display: block;
		padding: 5px 0;
		float: left;
		font-weight: bold;
		font-size: 16px;
		color: #777;
}

.social_login .social_box:hover {
		background: #E4E4E2;
}

.centeredText {
		text-align: center;
		margin: 20px 0;
		clear: both;
		overflow: hidden;
		text-transform: uppercase;
}

.action_btns {
		clear: both;
		overflow: hidden;
}

.action_btns a {
		display: block;
}
/* User Login Form */

#tabs{
   
}

.content-wrapper {
		display: none;
}

.content-wrapper label {
		display: block;
		margin-bottom: 5px;
}

.content-wrapper input[type="text"],
.content-wrapper input[type="email"],
.content-wrapper input[type="password"] {
		display: block;
		width: 100%;
		padding: 10px;
		border: 1px solid #DDD;
		color: #666;
}

.content-wrapper input[type="checkbox"] {
		float: left;
		margin-right: 5px;
}

.content-wrapper input[type="checkbox"]+label {
		float: left;
}

.content-wrapper .checkbox {
		margin-bottom: 10px;
		clear: both;
		overflow: hidden;
}

.forgot_password {
		display: block;
		margin: 20px 0 10px;
		clear: both;
		overflow: hidden;
		text-decoration: none;
		color: #ED6347;
}
/* Forgot Password section */
.forgot_password_section{
    display:none;
}

.forgot_password_button{
    float: right;
}
/*People page*/
.people-table{
    display:table;
    border-spacing: 10px;
}
.label-inf{
    font-weight:normal;
}

/* Register Page */

@media (min-width: 1200px){
    .col-lg-8{
        width: 66.66666666666666%;
    }
    .col-lg-7{
        width: 58.333333333333336%
    }
}

.register label{
    margin: 0;
    height: 34px;
    line-height: 34px;
}

.row{
    margin: 10px -15px;
}

.register h2{
    text-align:center;
}

.register input[type="checkbox"]{
    margin: 10.5px 0;
}

.register .btn{
    background-color: #428bca;
    padding:0;
    height: 34px;
}

.register #add-more-numbers{
    display:none;
}

.register .contact-inf .alert-danger{
    display:none;
    text-align: center;
}

.register #amount{
    border:0; 
    color:#428bca; 
    font-weight:bold;
}

.register .skill{
    background-color: #428bca;
    color: #fff;
    display: inline-block;
    margin: 5px;
    border-radius: 20%;
    position:relative;
}

.error {
	color: red;
}

.register .skill:hover{
    background-color:#285e8e;
}

.register span.kill-skill {
    position: absolute;
    top: 0;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
    display:none;
}

.register .skill-skill {
    padding: 10px 20px;
    display: block;
    cursor:pointer;
}

.skill-skill:hover + .kill-skill{
    display:block;
}

.kill-skill:hover {
    display:block;
}

/*hr view*/
table{
    width: 100%;
    margin-top:50px;
}
.search-select, .search-input{
    width: 100%;
}

.search {
    float: right;
    display: inline-block;
}

thead{
    background-color:#428bca;
    border-bottom:solid;
}

thead > tr > th{
    padding:10px 0px 10px 10px;
}

tbody > tr > td{
    padding: 10px 0px 10px 10px;
}

tbody > tr > td.padding-right{
    padding-right: 10px;
}
.view-profile, .view-profile:hover, .button-filter-action, .button-filter-action:hover{
    background-color: #3276b1;
    position: relative;
    padding: 5px;
    width: 100%;
}

.text-titles > th{
    color:#FFF;
}

.button-filter-action{
    width:100%;
}

