@model MVCDemo.Models.Person
@{
    ViewBag.Title = "Register";
}
<form action="/" method="post">
    <div class="register container">
        <div class="row">
            <div class="bsc-info col-lg-4">
                <h2>Basic info</h2>
                <hr>
                <div class="register-table">
                    <div class="table-row">
                        <label>Title: </label>
                        <select>
                            <option value="None">-None-</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                    </div>

                    <div class="table-row">
                        <label>First name: </label>
                        <input type="text">
                    </div>

                    <div class="table-row">
                        <label>Last name: </label>
                        <input type="text"><br>
                    </div>

                    <div class="table-row">
                        <label>Birthday: </label>
                        <input type="date">
                    </div>
                </div>
            </div>

            <div class="auth col-lg-4">
                <h2>Authentication</h2>
                <hr>
                <div class="register-table">
                       <div class="table-row">
                           <label>Username: </label>
                           <input type="text">
                       </div>
                       <div class="table-row">
                           <label>Password: </label>
                           <input type="password">
                       </div>
                       <div class="table-row">
                           <label>*Re-enter password: </label>
                           <input type="password">
                       </div>
                 </div>
            </div>

            <div class="cnct-inf col-lg-4">
                <h2>Contact info</h2>
                <hr>
                <div class="register-table">
                    <div class="table-row">
                        <label>Email: </label>
                        <input type="email">
                    </div>
                    <div class="table-row">
                        <label>Fax: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>Website: </label>
                        <input type="text">
                    </div>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="address col-lg-4">
                <h2>Address</h2>
                <hr>
                <div class="register-table">
                    <div class="table-row">
                        <label>Country: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>County: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>City: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>Street: </label>
                        <textarea type="text"></textarea>
                    </div>
                </div>               
            </div>
            <div class="prof-info col-lg-8">
                <h2>Professional Info</h2>
                <hr>
                <div class="register-table">
                    <div class="table-row">
                        <label>Last degree earned: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>Years of experience: </label>
                        <input type="number">
                    </div>
                    <div class="table-row">
                        <label>Expected salary: </label>
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>Current salary: </label>
                        <input type="number">
                    </div>
                    <div class="table-row">
                        <label>Current job title: </label>
                        <input type="text">
                    </div>
                    <div class="table-row">
                        <label>Skills </label>
                        <input type="text" placeholder="To be added">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $(".bsc-info select").on("click", function () {
            if ($($(".bsc-info option")[0]).val() == "None") {
                $($(".bsc-info option")[0]).hide();
            }
        });
    });
</script>