@model MVCDemo.Models.Person
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="person">
    <p><strong>First Name: </strong>@Model.Firstname</p>
    <p><strong>Last Name: </strong>@Model.Lastname</p>
    <p><strong>Full Name: </strong>@Model.Fullname</p>
</div>
